.movie-wrapper {
  .images-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .backdrop-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .backdrop {
        height: 400px;
        position: absolute;
        object-fit: cover;
      }
      
      .backdrop-blur {
        width: 82%;
        height: 400px;
        filter: blur(6px);
        transform: scale(1.2);
        object-fit: cover;
      }
    }

    .poster {
      height: 400px;
      width: 265px;
      position: absolute;
      top: 240px;
      left: 80px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0px 4px 40px 10px rgba(120, 120, 120, 0.59)
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;

    .top {
      height: 300px;
      margin-left: 400px;

      .title {
        padding: 40px 0;
        font-size: 2rem;
      }

      .stats {
        display: flex;

        .runtime {
          width: 120px;
        }
      }

      .votes {
        margin-top: 20px;
        display: flex;
        align-items: center;

        .stars {
          display: flex;
          align-items: center;
          width: 120px;

          .spin {
            animation: spin 2.5s infinite ease-in-out;
          }
        }

        mat-icon {
          width: 40px;
          height: 40px;
          margin-right: 8px;
          font-size: 40px;
        }

        .number {
          font-size: 2rem;
        }

        .reviewed {
          color: #aaa;
        }
      }
    }

    .bottom {
      min-height: 400px;
      display: flex;
      justify-content: center;

      .overview {
        max-width: 1136px;
        font-size: 1.2rem;
        color: #aaa;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(359deg);
  }
  
  100% {
    transform: rotate(359deg);
  }
}
